<header>
  <div class="container">
      <h3>Herolo test:</h3>
  </div>
</header>

<section class="products-container container" >
  <div *ngFor="let product of products" class="product">
      <app-product
      [product]="product"
      (editProduct)="openModal($event)"></app-product>
  </div>

  
</section>

<app-modal id="custom-modal-1" (editProduct)="editProduct($event)">
</app-modal>