$header-heigth: 70px;

header {
  height: $header-heigth;
  line-height: $header-heigth;
  background-color: #000;
  color: #eee;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  .product{
      flex-grow:1;
  }
}
