<div class="product-container">
  <img [src]="product.image_url">
  <div class="data-group">
    <span class="data-group-label">Name: </span>
    <p class="data-group-text">{{product.name}}</p>
  </div>

  <div class="data-group">
    <span class="data-group-label">City: </span>
    <p class="data-group-text">{{product.city}}</p>
  </div>

  <div class="data-group">
    <span class="data-group-label">Phone: </span>
    <p class="data-group-text">{{product.phone}}</p>
  </div>

  <div class="data-group">
    <span class="data-group-label">Site: </span>
    <a class="data-group-text" href="{{product.website_url}}" target="_blank">{{product.website_url}}</a>
  </div>


  <button (click)="onEdit('custom-modal-1')">Edit</button>
</div>