.product-container {
  padding: 15px;
  margin: 15px;
  border: 1px solid #aaa;
  flex-basis: 320px;
  flex-flow: 1;
  .data-group {
    display: flex;
    max-width: 320px;
    height: 20px;
    line-height: 20px;
    .data-group-label{
      font-weight: 700;
    }
    .data-group-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 320px;
      margin-left: 10px;
    }
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
}

