:host{
  display: none;

  .jw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    overflow: auto;

    .jw-modal-body {
      background: #fff;
      display: inline;
    }
  }

  .jw-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }

}
body.jw-modal-open {
  overflow: hidden;
}


.form-container {
  width: 444px;
  margin: 155px auto;
  padding: 25px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;

  .form-group {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
    }
  }
}

input {
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.button-cancel{
  background-color: #aaa;
}
