<div class="jw-modal">
    <div class="jw-modal-body">
        <ng-content></ng-content>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="productName">Name</label>
                    <input
                        [ngModel]="product.name"
                        type="text"
                        name="productName"
                        #productName="ngModel"
                        placeholder="Product Name"
                        autocomplete="off">
                    <span
                        class="help-block"
                        *ngIf="!productName.valid && productName.dirty">
                        Please enter a valid name!
                    </span>
                </div>

                <div class="form-group">
                    <label for="productName">City</label>
                    <input
                        [ngModel]="product.city"
                        type="text"
                        name="city"
                        #cityName="ngModel"
                        placeholder="city Name"
                        autocomplete="off">
                    <span
                        class="help-block"
                        *ngIf="!cityName.valid && cityName.dirty">
                        Please enter a valid city!
                    </span>
                </div>

                <div class="form-group">
                    <label for="productName">Phone</label>
                    <input
                        [ngModel]="product.phone"
                        type="text"
                        name="phone"
                        #cityName="ngModel"
                        placeholder="Phone"
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="productName">Site</label>
                    <input
                        [ngModel]="product.website_url"
                        type="text"
                        name="website_url"
                        #cityName="ngModel"
                        placeholder="site name"
                        autocomplete="off">
                </div>

                <button type="submit">Save</button>
                <button (click)="close()" class="button-cancel">cancel</button>
            </form>
        </div>

    </div>
</div>
<div class="jw-modal-background"></div>