
// --------------
// common styles
// --------------

body,
html {
  padding: 0;
  margin: 0;
  font-family: Asap;
}

body.jw-modal-open {
  overflow: hidden;
}

h1,h2,h3,h4,p {
  margin: 0;
}
a {
  text-decoration: none;
}

.vertical-flex-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 764px;;
}